
<div class="row fullWidth">
  <div class="large-12 columns">
    <h1> See What is
    <span class="status-toggles">
    <span id="toggle-available">Available</span>
    <span id="toggle-unavailable">Unavailable</span>
    <span id="toggle-new"> New </span></h1>
    </span>
      <div class="large-4 medium-2 columns">
        <h3>Top Donor: <h6><%= @top_donor.email %></h6></h3>
        <h3>Total Books: <%= @total_books %> </h3><br>

        <h3>Top Bookworm:</h3><br>

        <h3>Bookhog:</h3>
    <%= BookCheckout.first %>
    <br>
    <br>
      </div>
      <div class ="large-8 medium-10 columns">
      <% @books.each do |book| %>
        <div class="row books">
          <div class="large-12 columns index-book <%= book.css_classes %>">
          <%= link_to book.title, book_path(book) %>
            <p><%= book.author %></p>
            <% unless book.checkout_user_id == nil %>
              <br>
              <p class="checked_out_user">Checked out by <%= User.find(book.checkout_user_id).email %></p>
            <% end %>
<!--
    <%= @book_checkout = BookCheckout.where(book_id: book.id).first.try(:id) %>

 -->

<!-- Can't invoke a change in the current book and a creation of another book checkout with one button. Unless they were both nested.
 -->
<!-- need 25
 -->
<!--  book id is 10, therefore 10 is passed -->
  <% unless book.checkout_user_id == nil %>
    <%= link_to "delete checkout", book_checkout_path(id: book.id, check: book.id), :confirm => 'Are you sure?', :class => "index-button", :method => :delete %>
  <% end %>

     <%= simple_form_for :book_checkout, multipart: true, url: book_checkouts_path do |f| %>
          <%= f.hidden_field :checkout_user_id, value: 3 %>
            <%= f.hidden_field :book_id, value: book.id %>
            <% if book.checkout_user_id != current_user.id %>
              <%= f.button :submit, "Checkout", :class => "index-button" %>
            <% else %>
              <%= link_to "Return", book_checkout_path(id: book.id, check: book.id), :confirm => 'Are you sure?', :class => "index-button return-button", :method => :delete %>
            <% end %>


          <% end %>





            </div>
          </div>
          <% end %>
        </div>







  </div>
</div>

