


<!-- request token template not working properly -->

<div class="row">
  <div class="large-12 columns">

    <!-- client.user_id requires Oauth -->

    <div class="row">

    <div class="large-8 medium-10 columns">
        <div class="panel">

          <%= image_tag @author["image_url"] %>
          <span class="book-show-cover">
          <%= image_tag(@goodreadsbook.image_url, :size => "147x222") %>
          </span>

          <div class= "widget">
            <%= @goodreadsbook.reviews_widget.html_safe %>
          </div>
        </div>
      </div>

    <% unless @goodreadsbook.description.nil? %>
    <div class="large-4 medium-12 columns">

      <h3> <%= @book.title %> </h3><br>
      <h3> Written By: <%= link_to @author["name"], @author["link"] %> </h3>


      <h3> Book Rating </h3>
      <p> <%= @avg_rating %> out of <%= @rating_count%></p>

      <h3> <%= link_to "GoodReads Book Link", @book_link %> </h3>


    </div>

    <% end %>




    </div>
  </div>
</div>
