


<!-- request token template not working properly -->

<div class="row fullWidth">
  <div class="large-12 columns">

    <!-- client.user_id requires Oauth -->

    <div class="row">

    <% unless @goodreadsbook.description.nil? %>
    <div class="large-4 columns right">

      <h3>Shared by <%= @user_name %></h3>

      <h3> <%= @book.title %> </h3><br>
      <h3> <%= @goodreadsbook.author %> </h3>
      <h3> Synopsis </h3>
      <p> <%= @synopsis %> </p>


      <h3> Book Rating </h3>
      <p> <%= @avg_rating %> out of <%= @rating_count%></p>

      <h3> Link to Book </h3>
      <p> <%= link_to @book.title, @book_link %> </p>

    </div>

    <% end %>



      <div class="large-4 columns">
        <div class="panel">

          <%= image_tag @author["image_url"] %>
          <%= link_to @author["name"], @author["link"] %>

          <div class= "widget">
            <%= @goodreadsbook.reviews_widget.html_safe %>
          </div>
        </div>
      </div>


    </div>
    <%= link_to "Edit", edit_book_path(@book), :class => "round button" %>
    <%= link_to "Burn", book_path(@book),
      method: :delete, :class => "round button",
      data: {confirm: "Burning is easier than writing"} %>
    <%= link_to "Library", root_path, :class => "round button" %>
  </div>
</div>
